html
	body
		h1 Thanks for using our Flash Card Helper!
		br
		form(method="POST", action="/upload", encType="multipart/form-data")
			#form-body
				label Choose a file to turn into flash cards:
				br
				input.form-control(name="note_file", type="file")
			br
			br
			#form-body
				label After choosing a file, click here to start studying!
				input.btn.btn-primary(type="submit", value="Start!")
		br
		br
		form(method="GET", action="/sample_quiz")
			#form-body
				label Or, click here to use a sample set of cards.
				input.btn.btn-primary(type="submit", value="Take the sample quiz")